################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/TradingApp.TradingWebApi/history
/src/TradingApp.TradingWebApi/obj
/src/TradingApp.TradingViewProvider/obj
/src/TradingApp.Application/bin/Debug/net7.0
/src/TradingApp.Application/obj/Debug/net7.0
/src/TradingApp.Application/obj
/src/TradingApp.Authorization/obj
/src/TradingApp.TradingViewProvider/bin/Debug/net7.0
/src/TradingApp.TradingWebApi/bin/Debug/net7.0
/src/TradingApp.Common/bin/Debug/net7.0
/src/TradingApp.Common/obj/Debug/net7.0
/src/TradingApp.Common/obj
/tests/TradingApp.Application.Test/bin/Debug/net7.0
/tests/TradingApp.Application.Test/obj
/tests/TradingApp.TradingViewProvider.Test/obj
/TradingApp.TradingAdapter/obj
/src/TradingApp.StooqProvider/bin/Debug/net7.0
/src/TradingApp.StooqProvider/obj/Debug/net7.0
/src/TradingApp.StooqProvider/obj
/src/TradingApp.TradingAdapter/bin/Debug/net7.0
/src/TradingApp.TradingAdapter/obj
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0
/tests/TradingApp.TradingViewProvider.Test/obj
src/TradingApp.TradingWebApi/TradingWebApi_Log.txt
/tests/TradingApp.Common.Test/bin/Debug/net7.0
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0
/tests/TradingApp.StooqProvider.Test/obj
/tests/TradingApp.TradingAdapter.Test/bin/Debug/net7.0
/tests/TradingApp.TradingAdapter.Test/obj
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/TradingApp.StooqProvider.dll
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/TradingApp.StooqProvider.pdb
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/TradingApp.StooqProvider.Test.dll
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/TradingApp.StooqProvider.Test.pdb
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/TradingApp.TradingAdapter.dll
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/TradingApp.TradingAdapter.pdb
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.csproj.AssemblyReference.cache
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.dll
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.pdb
/tests/TradingApp.TestUtils/bin/Debug/net7.0
/tests/TradingApp.TestUtils/obj/Debug/net7.0
/tests/TradingApp.TestUtils/obj
/tests/TradingApp.TradingAdapter.Test/obj/Debug/net7.0/TradingApp.TradingAdapter.Test.assets.cache
/tests/TradingApp.TradingAdapter.Test/obj/Debug/net7.0/TradingApp.TradingAdapter.Test.csproj.AssemblyReference.cache
/tests/TradingApp.TradingAdapter.Test/obj/project.assets.json
/tests/TradingApp.TradingAdapter.Test/obj/project.nuget.cache
/tests/TradingApp.TradingAdapter.Test/obj/TradingApp.TradingAdapter.Test.csproj.nuget.dgspec.json
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/TradingApp.TradingAdapter.dll
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/TradingApp.TradingAdapter.pdb
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/TradingApp.TradingViewProvider.dll
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/TradingApp.TradingViewProvider.pdb
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/TradingApp.TradingViewProvider.Test.dll
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/TradingApp.TradingViewProvider.Test.pdb
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/TradingApp.Common.Test.deps.json
/tests/TradingApp.Common.Test/bin/Debug/net7.0/TradingApp.Common.Test.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/TradingApp.Common.Test.pdb
/tests/TradingApp.Common.Test/obj/Debug/net7.0/TradingApp.Common.Test.csproj.AssemblyReference.cache
/tests/TradingApp.Common.Test/obj/Debug/net7.0/TradingApp.Common.Test.assets.cache
/tests/TradingApp.Common.Test/obj/project.assets.json
/tests/TradingApp.Common.Test/obj/project.nuget.cache
/tests/TradingApp.Common.Test/obj/TradingApp.Common.Test.csproj.nuget.dgspec.json
/tests/TradingApp.Common.Test/obj/TradingApp.Common.Test.csproj.nuget.g.targets
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.assets.cache
/tests/TradingApp.StooqProvider.Test/obj/project.assets.json
/tests/TradingApp.StooqProvider.Test/obj/project.nuget.cache
/tests/TradingApp.StooqProvider.Test/obj/TradingApp.StooqProvider.Test.csproj.nuget.dgspec.json
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/TradingApp.Common.Test.deps.json
/tests/TradingApp.Common.Test/bin/Debug/net7.0/TradingApp.Common.Test.dll
/tests/TradingApp.Common.Test/bin/Debug/net7.0/TradingApp.Common.Test.pdb
/tests/TradingApp.Common.Test/obj/Debug/net7.0/TradingApp.Common.Test.csproj.CoreCompileInputs.cache
/tests/TradingApp.Common.Test/obj/Debug/net7.0/TradingApp.Common.Test.csproj.FileListAbsolute.txt
/tests/TradingApp.Common.Test/obj/Debug/net7.0/TradingApp.Common.Test.dll
/tests/TradingApp.Common.Test/obj/Debug/net7.0/TradingApp.Common.Test.pdb
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/Skender.Stock.Indicators.dll
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/TradingApp.StooqProvider.Test.deps.json
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.csproj.CoreCompileInputs.cache
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.csproj.FileListAbsolute.txt
/src/TradingApp.Core/bin/Debug/net7.0
/src/TradingApp.Core/obj/Debug/net7.0
/src/TradingApp.Core/obj
/src/TradingApp.Modules/bin/Debug/net7.0
/src/TradingApp.Modules/obj/Debug/net7.0
/src/TradingApp.Modules/obj
/tests/TradingApp.Core.Test/bin/Debug/net7.0
/tests/TradingApp.Core.Test/obj
/tests/TradingApp.Modules.Test/bin/Debug/net7.0
/tests/TradingApp.Modules.Test/obj
/build/bin/Debug
/build/obj
/.nuke/temp
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/ref/TradingApp.StooqProvider.Test.dll
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/refint/TradingApp.StooqProvider.Test.dll
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/TradingApp.TradingViewProvider.Test.deps.json
/src/TradingApp.Module.Authentication/bin/Debug/net7.0
/src/TradingApp.Module.Authentication/obj
/src/TradingApp.Ports/bin/Debug/net7.0
/src/TradingApp.Ports/obj
/src/TradingApp.TradingWebApi/TradingWebApi_Log.txt
/tests/TradingApp.Module.Authentication.Test/bin/Debug/net7.0
/tests/TradingApp.Module.Authentication.Test/obj
/tests/TradingApp.Ports.Test/bin/Debug/net7.0
/tests/TradingApp.Ports.Test/obj
/src/TradingApp.Module.Quotes/bin/Debug/net7.0
/src/TradingApp.Module.Quotes/obj
/tests/TradingApp.Module.Quotes.Test/bin/Debug/net7.0
/tests/TradingApp.Module.Quotes.Test/obj
/src/TradingApp.MongoDb/obj/Debug/net7.0
/src/TradingApp.MongoDb/obj
/src/TradingApp.MongoDb/bin/Debug/net7.0
/tests/TradingApp.MongoDb/bin/Debug/net7.0
/tests/TradingApp.MongoDb/obj
/tests/TradingApp.MongoDb.Test/bin/Debug/net7.0
/tests/TradingApp.MongoDb.Test/obj
/tests/TradingApp.StooqProvider.Test/bin/Debug/net7.0/FluentResults.dll
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0/FluentResults.dll
/src/TradingApp.EvaluationScheduler/obj/Debug/net7.0
/src/TradingApp.EvaluationScheduler/obj
/src/TradingApp.Evaluator/bin/Debug/net7.0
/src/TradingApp.Evaluator/obj
/src/TradingApp.EvaluationScheduler/bin/Debug/net7.0
/tests/TradingApp.EvaluationScheduler.Test/bin/Debug/net7.0
/tests/TradingApp.EvaluationScheduler.Test/obj/Debug/net7.0
/tests/TradingApp.EvaluationScheduler.Test/obj
/tests/TradingApp.StooqProvider.Test/obj/TradingApp.StooqProvider.Test.csproj.nuget.g.props
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.AssemblyInfoInputs.cache
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.AssemblyInfo.cs
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.GeneratedMSBuildEditorConfig.editorconfig
/tests/TradingApp.StooqProvider.Test/obj/Debug/net7.0/TradingApp.StooqProvider.Test.genruntimeconfig.cache
/src/TradingApp.EvaluationScheduler/history/FiveMinsstooq.zip
/src/TradingApp.Core/bin/Release/net7.0
/src/TradingApp.EvaluationScheduler/bin/Release/net7.0
/src/TradingApp.Evaluator/bin/Release/net7.0
/src/TradingApp.Module.Authentication/bin/Release/net7.0
/src/TradingApp.Module.Quotes/bin/Release/net7.0
/src/TradingApp.MongoDb/bin/Release/net7.0
/src/TradingApp.StooqProvider/bin/Release/net7.0
/tests/TestUtils/bin
/src/TradingApp.TradingViewProvider/bin/Release/net7.0
/tests/TestUtils/obj
/tests/TestUtils/TestResults
/tests/TradingApp.Core.Test/bin/Release/net7.0
/tests/TradingApp.Core.Test/TestResults
/tests/TradingApp.EvaluationScheduler.Test/bin/Release/net7.0
/tests/TradingApp.EvaluationScheduler.Test/TestResults
/tests/TradingApp.Module.Authentication.Test/bin/Release/net7.0
/tests/TradingApp.Module.Authentication.Test/TestResults
*.json
/tests/TradingApp.Module.Quotes.Test/bin/Release/net7.0
/tests/TradingApp.Module.Quotes.Test/TestResults
/tests/TradingApp.MongoDb.Test/bin/Release/net7.0
/tests/TradingApp.MongoDb.Test/TestResults
/tests/TradingApp.Ports.Test/bin/Release/net7.0
/tests/TradingApp.Ports.Test/TestResults
/tests/TradingApp.StooqProvider.Test/bin/Release/net7.0
/tests/TradingApp.StooqProvider.Test/TestResults
/tests/TradingApp.TestUtils
/tests/TradingApp.TradingViewProvider.Test
/tests/TradingApp.Evaluator.Test/bin
/tests/TradingApp.Evaluator.Test/obj/Debug/net7.0
/tests/TradingApp.Evaluator.Test/obj
/ui/trading-app/coverage/clover.xml
/ui/trading-app/coverage/index.html
/ui/trading-app/coverage/RsiChartMapper.ts.html
/coverage
/testresults
