################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/TradingApp.TradingWebApi/obj
/src/TradingApp.TradingViewProvider/obj
/src/TradingApp.Application/bin/Debug/net7.0
/src/TradingApp.Application/obj/Debug/net7.0
/src/TradingApp.Application/obj
/src/TradingApp.Authorization/obj
/src/TradingApp.TradingViewProvider/bin/Debug/net7.0
/src/TradingApp.TradingWebApi/bin/Debug/net7.0
/src/TradingApp.Common/bin/Debug/net7.0
/src/TradingApp.Common/obj/Debug/net7.0
/src/TradingApp.Common/obj
/tests/TradingApp.Application.Test/bin/Debug/net7.0
/tests/TradingApp.Application.Test/obj
/tests/TradingApp.TradingViewProvider.Test/obj
/TradingApp.TradingAdapter/obj
/src/TradingApp.StooqProvider/bin/Debug/net7.0
/src/TradingApp.StooqProvider/obj/Debug/net7.0
/src/TradingApp.StooqProvider/obj
/src/TradingApp.TradingAdapter/bin/Debug/net7.0
/src/TradingApp.TradingAdapter/obj
/tests/TradingApp.TradingViewProvider.Test/bin/Debug/net7.0
