################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/*/history/
/src/*/bin/
/src/*/obj/
/tests/*/bin/
/tests/*/obj/
src/TradingApp.TradingWebApi/TradingWebApi_Log.txt
/build/bin/Debug
/build/obj
/.nuke/temp
*.json
/coverage
/testresults
/ui/trading-app/coverage/