{
  "parserOptions": {
    "sourceType": "module",
  },
  "extends": [
    "ts-important-stuff",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "unicorn",
    "testing-library",
    "simple-import-sort",
    "prettier",
  ],
  "overrides": [
    {
      "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "testing-library/no-wait-for-multiple-assertions": "off",
        "testing-library/no-wait-for-side-effects": "off",
      },
    },
  ],
  "rules": {
    "curly": "warn",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": ["@fenx/*/*"],
            "message": "Usage of @fenx nested imports is forbidden. Please use root imports instead.",
          },
          {
            "group": ["**/fenx-*"],
            "message": "Importing from single-spa root file is forbidden. Please use direct imports",
          },
          {
            "group": ["react-router"],
            "message": "Use react-router-dom instead of react-router",
          },
        ],
      },
    ],
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [["^react$", "^@?\\w", "^\\.\\.(?!/?$)", "^\\.(?!/?$)", "^\\./?$"], ["^\\u0000"]],
      },
    ],
    "simple-import-sort/exports": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "@typescript-eslint/method-signature-style": "warn",
    "unicorn/prefer-object-from-entries": "warn",
    "unicorn/no-useless-length-check": "warn",
    "unicorn/no-useless-spread": "warn",
    "unicorn/no-useless-fallback-in-spread": "warn",
    "array-callback-return": "warn",
    "no-param-reassign": "warn",
    "no-unneeded-ternary": "warn",
    "no-var": "warn",
    "object-shorthand": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-template": "warn",
    "prettier/prettier": "warn",
    "react/jsx-boolean-value": "warn",
    "react/jsx-key": "warn",
    "react/jsx-no-useless-fragment": ["warn", { "allowExpressions": true }],
    "react/self-closing-comp": "warn",
    "require-await": "warn",
    "max-len": ["error", { "code": 100, "ignoreStrings": true, "ignorePattern": "^import\\W.*" }],
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-console": ["warn", { "allow": ["debug", "error"] }],
    "arrow-body-style": ["warn", "as-needed"],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "args": "after-used" },
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "unicorn/filename-case": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/prefer-spread": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-null": "off",
    "unicorn/no-array-callback-reference": "off",
    "no-prototype-builtins": "off",
    "unicorn/no-useless-undefined": "off",
    "@typescript-eslint/ban-types": [
      "warn",
      {
        "types": {
          "React.FC": "React.FC is deprecated and should be avoided",
          "React.FunctionComponent": "React.FC is deprecated and should be avoided",
          "FunctionComponent": "React.FC is deprecated and should be avoided",
          "FC": "React.FC is deprecated and should be avoided",
        },
      },
    ],
  },
}
